
.poll {
  position: fixed;
  margin-top: 2%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 44px;
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center;
  /*margin-top: 5%;*/
  overflow: visible;
  flex-wrap: wrap;
}

#bgCanvas {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: block;
}

.v-btn {
  position: relative;
  z-index: 10;
}

.chart-container {
  width: 100%; /* Full width of its parent */
  height: 600px; /* Fixed height */
  margin: auto; /* Center it horizontally */
  position: relative; /* Position context for the canvas */
}

#myChart {
  width: 100%; /* Full width of its container */
  height: 100%; /* Full height of its container */
}

/* Style for Questions */
h1 {
  font-size: 4.5rem; /* Larger font size for better readability */
  font-weight: 800; /* Bolder for emphasis */
  text-decoration: underline overline;
  text-decoration-thickness: 6px;
  text-underline-offset: 30px;
  color: #333; /* Darker shade for better contrast */
  margin: 0 0 30px; /* Added spacing below the question */
}

/* Style for Prediction Prompt */
h2 {
  font-size: 3.5rem; /* Larger font size for better readability */
  font-weight: 800; /* Bolder for emphasis */
  text-decoration: underline overline;
  text-underline-offset: 30px;
  color: #333; /* Darker shade for better contrast */
  margin: 0 0 30px; /* Added spacing below the question */
  margin-top: 5%;
}

/* Style for display date */
h3 {
  font-size: 1.5rem; /* Larger font size for better readability */
  font-weight: 10; /* Bolder for emphasis */
  color: #333; /* Darker shade for better contrast */
  margin-top: 2%;
}

/* Style for your vote has been recorded */
h4 {
  font-size: 4.0rem; /* Larger font size for better readability */
  font-weight: 800; /* Bolder for emphasis */
  text-decoration: underline overline;
  text-decoration-thickness: 6px;
  text-underline-offset: 35px;
  color: #333; /* Darker shade for better contrast */
  margin: 80px 0 200px; /* Added spacing below the question */
}

/* Style for view results button */
.view-results-button {
  background-color: #424242; /* Green background */
  border: none; /* Remove default border */
  color: rgb(255, 255, 255); /* White text */
  padding: 16px 41px; /* Padding for size */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block for size control */
  font-size: 41px; /* Medium font size */
  margin: 4px 2px; /* Small margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

/* Hover effect for the view-results button */
.view-results-button:hover {
  background-color: #313131; /* Darker green on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

/* Focus effect for the view-results button */
.view-results-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 5px #272727; /* Green shadow */
}

/* Style for On *date* we asked you */
h5 {
  font-size: 1.5rem; /* Larger font size for better readability */
  font-weight: 10; /* Bolder for emphasis */
  color: #333; /* Darker shade for better contrast */
  margin-top: 2%;
}

.choice-button {
  margin: 30px;
  flex-wrap: wrap;
  border-radius: 50px;
  border: 0.7rem solid rgba(255, 255, 255, 0.315);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1em;
  width: 30%; /* Adjust based on total width for better mobile responsiveness */
  min-width: 400px;
  min-height: 550px;
  transition: 0.2s ease-in;
}

.prediction-button {
  margin: 20px;
  padding: 20px 60px;
  border-radius: 10px;
  border: 0.3rem solid rgba(0, 0, 0, 0.315);
  color: black;
  font-family: Arial, sans-serif;
  font-size: 1em;
  width: 20%; /* Adjust based on total width for better mobile responsiveness */
  transition: 0.2s ease-in;
}

.choice-button:hover {
  transform: scale(1.1);  /*makes the button grow*/
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.predictions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
}

.prediction-button:hover {
  background: #c5c5c5;
  box-shadow: 0 0 5px #f2ff80, 0 0 25px #f2ff80, 0 0 50px #f2ff80, 0 0 200px #f2ff80;
}




.info-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Ensure it is above other elements */
}

.info-content {
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  max-height: 100%;
  overflow-y: auto;
}


/****TRANSITIONS****/

/*fade*/
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.6s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

/*slide*/
.slide-enter-active, .slide-leave-active {
  transition: transform 0.5s;
}
.slide-enter-from, .slide-leave-to {
  transform: translateX(100%);
}

/*flip*/
.flip-enter-active, .flip-leave-active {
  transition: transform 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955);
  backface-visibility: hidden;
  perspective: 1000px;
}
.flip-enter-from, .flip-leave-to {
  transform: rotateX(180deg);
}

/*expand*/
.expand-enter-active, .expand-leave-active {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.expand-enter-from, .expand-leave-to {
  max-height: 0;
  opacity: 0;
}

/*******************/